#include "37keys2026.dtsi"

&kscan0 {
    col-gpios
        = <&gpio0  0 GPIO_ACTIVE_LOW> // 左手側 Col 0 ダミー
        , <&gpio0  0 GPIO_ACTIVE_LOW> // 左手側 Col 1 ダミー
        , <&gpio0  0 GPIO_ACTIVE_LOW> // 左手側 Col 2 ダミー
        , <&gpio0  0 GPIO_ACTIVE_LOW> // 左手側 Col 3 ダミー
        , <&gpio0  0 GPIO_ACTIVE_LOW> // 左手側 Col 4 ダミー
        , <&gpio0  0 GPIO_ACTIVE_LOW> // 左手側 Col 5 ダミー
        
        , <&gpio0  4 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // 右手側 Col 0 (物理 D4)
        , <&gpio0  5 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // 右手側 Col 1 (物理 D5)
        , <&gpio1 15 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // 右手側 Col 2 (物理 D10)
        , <&gpio1 12 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // 右手側 Col 3 (物理 D7)
        , <&gpio1 13 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // 右手側 Col 4 (物理 D8)
        ;
};