# 37keys2026の共通デフォルト設定
if SHIELD_37KEYS2026_LEFT || SHIELD_37KEYS2026_RIGHT

config ZMK_BOARD
    string
    default "xiao_ble"

config ZMK_SPLIT
    default y

endif

# 左手側（LEFT）を明確にPCと通信する親機（Central）として定義
if SHIELD_37KEYS2026_LEFT

config ZMK_KEYBOARD_NAME
    default "37keys2026"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

# 右手側（RIGHT）の設定
if SHIELD_37KEYS2026_RIGHT

config ZMK_KEYBOARD_NAME
    default "37keys2026_R"

endif