#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h> // ★出力切り替え用の辞書を追加

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
    /* 左上端（D4×D0）をUSBモード切り替えに設定 */
    &out OUT_USB    &kp Q    &kp W    &kp E    &kp R    &kp T       &kp Y    &kp U    &kp I    &kp O    &kp P
    &kp LSHFT       &kp A    &kp S    &kp D    &kp F    &kp G       &kp H    &kp J    &kp K    &kp L    &kp SEMI
    &kp LCTRL       &kp Z    &kp X    &kp C    &kp V    &kp B       &kp N    &kp M    &kp COMMA &kp DOT &kp FSLH
                                               &kp LALT &kp SPACE   &kp RET  &kp RGUI
            >;
        };
    };
};