#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                // === Row 0 (左手 6キー / 右手 5キー = 計11キー) ===
                &kp A   &kp Q          &kp W          &kp E          &kp R          &kp T             &kp Y          &kp U          &kp I          &kp O          &kp P
                
                // === Row 1 (左手 6キー / 右手 5キー = 計11キー) ===
                &kp A            &kp S          &kp D          &kp F          &kp G          &kp H             &kp J          &kp K          &kp L          &kp SEMI       &kp Z
                
                // === Row 2 (左手 6キー / 右手 5キー = 計11キー) ===
                &kp X            &kp C          &kp V          &kp B          &kp N          &kp M             &kp COMMA      &kp DOT        &kp FSLH       &kp SPACE      &kp LSHIFT
                
                // === Row 3 親指 (左手 2キー / 右手 2キー = 計4キー) ===
                                                                              &kp LCTRL      &kp LALT          &kp RGUI       &kp ENTER
            >;
        };
    };
};